img.store.ng-move,
img.store.ng-enter,
img.store.ng-leave {
  transition: margin-left linear 0.5s;
}
img.store.ng-move,
img.store.ng-enter {
  margin-left: -300px;
}

img.store.ng-move.ng-move-active,
img.store.ng-enter.ng-enter-active {
  margin-left: 0;
}

img.thumbnail.ng-enter {
  transition: margin-left linear 0.5s;
}
img.thumbnail.ng-enter {
  margin-left: -120px;
}
img.thumbnail.ng-enter.ng-enter-active {
  margin-left: 0;
}

.visning {
  width: 600px;
  overflow: hidden;
}

.bilder {
  display: flex;
  width: 900px;
}

.film {
  display: flex;
  width: 900px;
}

img.thumbnail {
  height: 100px;
  width: 120px;
}
img.store {
  height: 250px;
  width: 300px;
}
